* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: arial, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  text-align: center;

}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0 11.5%;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
/* cart button is the right */
#cart-right1 {
  padding-left: 550px;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.clothesHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.clothesHero {
  background-image: url("./images/pic1.jpg");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-top: 1.5rem;
  /* margin-bottom: 4rem; */
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 3rem 0;
}
.services {
  background: var(--offWhite);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 0rem;
  grid-column-gap: 20px;
}
.services > span{
  font-size: 40px;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}
@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured clothes */
.featured-clothes {
  padding: 5rem 0;
  margin-bottom: -2rem;
  margin-top: -2rem;
}
.featured-clothes-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-clothes-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-clothes-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured clothes */
/* cloth */
.cloth {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.cloth:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.cloth-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .cloth-link {
  transform: translate(-50%, -50%) scale(1);
}
.cloth-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of cloth  */
/* single cloth*/
.single-cloth {
  padding: 5rem 0 0 0;
}
.single-cloth-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-cloth-images img {
  width: 100%;
  display: block;
}
.single-cloth-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.info h6 {
  font-weight: 300;
}
.cloth-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.cloth-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-cloth-images,
  .single-cloth-info,
  .cloth-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-cloth-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single clothes*/
/* clotheslist */
.clotheslist {
  padding: 2rem 0;
}
.clotheslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}
@media screen and (min-width: 776px) {
  .clotheslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .clotheslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of clotheslist */
/*  clothes fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 4rem;
  grid-column-gap: 120px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.single-extra {
  width: 100%;
}
/* .size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
} */
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of clothes fitler*/

/* start of footer */
.footer{
  padding-top: 1rem;
  text-align: center;
  background: var(--mainGrey);
}
.footer > span{
  font-size: 30px;
}
.footer-center {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  grid-column-gap: 10px;
}
#input-email {
  width: 18%;
}
@media screen and (min-width: 200px) {
  .footer-center {
    width: 80vw;
    max-width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .footer p {
    width: 100%;
  }
}
/* end of footer */

/* start of list cart */
.products {
  border-top: 1px solid #ddd;
}
.products > li {
  border-bottom: 1px solid #ddd;
}
.col img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
}
.row {
  position: relative;
  overflow: auto;
  width: 100%;
  margin-top: 4rem;
  margin-bottom:2rem;
}
.col, .quantity, .remove {
  float: left;
}
.col.left {
  width: 20%;
  margin-left: 13rem;
}
.col.right {
  width: 40%;
  right: 0;
}
.detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
}
.detail .name {
  font-size: 1.2rem;
}
.detail .price {
  font-size: 1.2rem;
}
.quantity, .remove {
  width: 20%;
  text-align: center;
}
.remove svg {
  width: 60px;
  height: 60px;
}
.quantity > input {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font: 600 1.2rem Helvetica, Arial, sans-serif;
}
.quantity > input:hover, .quantity > input:focus {
  border-color: #f58551;
}
.close {
  fill: #7d7d7d;
  transition: color 150ms linear,
    background-color 150ms linear,
    fill 150ms linear,
    150ms opacity linear;
  cursor: pointer;
}
.close:hover {
  fill: #f58551;
}

  /* --- SUMMARY --- */
.promotion, .summary, .checkout {
  /* float: left; */
  width: 50%;
  margin-top: 1.5rem;
  padding: 0 2rem;
  margin-left: 12rem;
}
.promotion > label {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
  
}
.promotion > input {
  float: left;
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.8rem;
  border: 2px solid var(--mainBlack);;
  border-radius: 2rem 0 0 2rem;
}
.promotion:hover > input {
  border-color: var(--primaryColor);
}
.promotion > button {
  float: left;
  width: 10%;
  padding: 0.4rem 0;
  border-radius: 0 2rem 2rem 0;
}
.promotion:hover > button {
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
}
.promotion > button::after {
  content: "\276f";
  font-size: 1rem;
}
.summary {
  font-size: 1.2rem;
  text-align: right;
}
.summary ul {
  list-style-type: none;
}
.summary ul li {
  padding: 1rem 0 0 34rem
}
.summary ul li span {
  display: inline-block;
  width: 30%;
}
.summary ul li.total {
  font-weight: bold;
}
.checkout {
  text-align: right;
}
.checkout > button {
  font-size: 1.2rem;
  padding: 0.8rem 2.8rem;
  border-radius: 1.5rem;
}
.checkout:hover > button {
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
}
.empty-product {
  text-align: center;
}
.empty-product > button {
  font-size: 1.3rem; 
  padding: 10px 30px; 
  border-radius: 5px;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnail img {
    display: none;
  }
  
  .quantity > input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }
  
  .remove svg {
    width: 40px;
    height: 40px;
  }
}
 /* --- MEDIUM & LARGE SCREEN --- */
.thumbnail, .detail {
  float: left;
}
.thumbnail {
  width: 35%;
}
.detail {
  width: 65%;
}
.checkout {
  width: 100%;
}
.checkout, .summary {
  text-align: right;
  width: 74%;
}
.checkout button {
  background-color: var(--primaryColor);
  width: 27%;
  margin-left: 40rem;
  margin-bottom: 2rem;
}
.checkout button:hover {
  transition: var(--mainTransition);
}
/* Button of add and sub of quantity */
.btn-group {
  width: 100%;
}
.btn-group button {
  background-color: var(--primaryColor);
  border: 1px solid var(--mainBlack);
  color: white;
  cursor: pointer;
  float: left;
  width:49.3%;
  font-size: 1rem;
}
.btn-group button:hover {
  background-color: #8e6b3e;
  transition: var(--mainTransition);
}
/* end of list cart */

/* start of map */
.map {
	text-align: center;
  height: 30rem;
  margin-bottom: 2%;
}
/* end of map  */


/* slider*/
/* Style the container/contact section */
#img-slider {
  width:60%;
  margin-right:2rem;
}
.container1 {
  border-radius: 5px;
  background-color: #fffdf8;
  padding-right: 2rem;
  padding-left: 2rem;
  /* margin-bottom: 2rem; */
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 43%;
  margin-top: 6px;
  padding: 10px;
}
.column1 {
  float: left;
  width: 36%;
  margin-top: 6px;
  margin-left: 7rem;
  padding: 10px;
}
.column2 {
  float: left;
  width: 36%;
  margin-top: 6px;
  margin-left: 13rem;
  padding: 10px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */
/* end of slider  */


/* start of login */
.container3 {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 87px 30px 77px;
  width: 86%;
  margin-left: 7%;
} 
/* #summit-login {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
} */
/* style inputs and link buttons */
.container3 > input {
  padding: 12px;
  border: none;
  border-radius: 4px;
}
.btn {
  padding: 12px;
  border: none;
  border-radius: 4px;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
/* input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
} */

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 46px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  width: 86%;
  margin-left: 7%;
}

/* end of login  */

/* Login example */
.content {
  padding: 20px;
}
 
.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
}
/* End of Login example */